.hero-wrapper {
    min-height: 365px;
    margin-bottom: 40px;
}

.hero-info-container {
    padding-right: 30px;
    margin: 0;
}

.blog-container {
    padding-bottom: 30px;
}

.hero-wrapper__text {
    position: relative;
    font: var(--type-bold) normal normal var(--type-jumbo) var(--font-webly-sleek);
    color: var(--clr-ntrl-min);
    line-height: inherit;
}

.min-width-text {
    font-size: 4.6875vw
}

.trapezoid {
    position: absolute;
    top: 6px;
    left: -15px;
    border-bottom: 40px solid var(--clr-ntrl-min);
    border-left: 1px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 16px;
    transform: rotate(166deg);
}

.hero-wrapper__image {
    position: relative;
    display: inline-flex;
    padding: 25px 0 0 58px;
}

.blockchain__banner-image img {
    height: auto;
}

.min-padding {
    padding: 25px 0 0 26px;
}

.margin-left-0 {
    margin-left: 0;
    margin-right: auto;
}

.vector {
    position: absolute;
    right: -75px;
    top: 0;
}

/* Tags */
.tags-wrapper {
    padding: 14px 20px 27px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 18px 11px;
}

.tags-list__item {
    height: 35px;
    padding: 0 10px;
    border: 1px solid var(--main-brand-color);
    color: var(--main-brand-color);
    font: var(--type-light) normal var(--type-smaller) var(--font-webly-sleek);
    cursor: pointer;
}

/* Categories */
.categories {
    padding: 15px 22px 24px;
}

.categories .aside-item__title {
    margin-bottom: 6px;
}

.accordion-button {
    padding: 10px 0 6px;
    grid-gap: 2px;
    font: var(--type-light) normal var(--type-smaller) var(--font-webly-sleek);
    color: var(--primary-color-dk);
}

.accordion-button::after {
    margin-left: -6px;
    background-image: url("../../assets/images/arrow.svg");
    background-size: 0.5rem;
    background-position: center;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../../assets/images/arrow.svg");
    transform: rotate(90deg);
}

.accordion-button:focus {
    background-color: unset;
    outline: unset;
    border: 0;
    box-shadow: unset;
}

/* Blog Cards */
.blogs-wrapper {
    padding-bottom: 50px;
}


.blogs-wrapper .card {
    height: 100%;
}

.blogs-wrapper .col {
    padding: 0 15px;
}

.card-image-wrapper {
    max-height: 183px;
    overflow: hidden;
    margin-bottom: 14px;
}

.card-image-wrapper img {
    max-height: inherit;
}

.large-card-img-wrapper {
    max-height: 255px;
    margin: 12px 30px 2px 2px;
}

.card-body {
    padding: 20px 22px;
}

.specific-padding-l {
    padding: 0 15px 0 8px
}

.specific-padding-r {
    padding: 0 0 0 15px;
}

/* Single Page Style*/
.blog-title {
    margin: 61px auto 40px;
    font: var(--type-semi-bold) normal var(--type-largest) var(--font-webly-sleek);
    text-transform: capitalize;
}

.blog-info-wrapper {
    margin: 47px auto 0;
    text-transform: capitalize;
}

.sub-info__title {
    color: var(--main-brand-color);
    font: var(--type-semi-bold) normal var(--type-larger) var(--font-webly-sleek);
    margin: 20px 0 14px;
}

.sub-info__description {
    font: var(--type-light) normal 1.5rem var(--font-webly-sleek);
    line-height: 37px;
    color: #3e3e3e;
}

.social-link {
    grid-gap: 11px;
    margin-right: 16px;
    margin-top: -7px;
}

.social-link--down .nav-link {
    width: 31px;
    height: 31px;
}

.social-link .nav-link {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    padding: 0;
    background-color: var(--main-brand-color);
}

.social-link .nav-link svg {
    width: 53%;
    height: 53%;
}

.tags-content {
    width: 40%;
    margin: 50px 0 37px;
}

.single-page-title {
    padding: 46px 0 27px;
    font: var(--type-semi-bold) normal var(--type-larger) var(--font-webly-sleek);
    color: #222020;
}

.single-page-wrapper {
    position: relative;
    padding-bottom: 27px;
}


.single-page-container {
    position: relative;
    margin: 52px 0 -6px;
    text-transform: capitalize;
}

.min-width-container {
    width: 70%;
    margin: 0 auto;
}

.single-page-wrapper .vector {
    right: unset;
    top: 10px;
}

.single-page-wrapper .vector img {
    width: 100%;
    height: 80%;
}


/* Single Page Wrapper */
.single-page-banner {
    position: relative;
}

.single-page-banner-wrapper {
    position: relative;
    height: 224px;
    display: flex;
    align-items: center;
    background-image: url("../../assets/images/portfolioBanner.png");
}

.single-page-banner-wrapper::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
}

.single-page-banner-wrapper .blog-title {
    position: relative;
    margin: 0;
    color: var(--clr-ntrl-min);
    font-size: 40px;
    z-index: 9;
}

.single-page-banner-wrapper .vector {
    z-index: 999;
}

.single-page-banner-wrapper .vector img {
    height: auto;
    width: 52%;
}

.portfolio-details {
    padding: 18px 14px 0 13px;
    margin-bottom: 20px;
    border: 1px solid #DEDEDE;
}

.portfolio-details-list__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.portfolio-details-list__item h3 {
    font: var(--type-semi-bold) normal var(--type-large) var(--font-webly-sleek);
}

.portfolio-details-list__item p {
    font: var(--type-light) normal 16px var(--font-webly-sleek);
}


.portfolio-info-wrapper {
    width: 63%;
    margin-bottom: 11px;
}

.sub-info__title--large-size {
    font: var(--type-light) normal 30px var(--font-webly-sleek);
}

.blogs-item {
    margin-bottom: 45px;
}
