/* Portfolio Wrapper*/
.portfolio-wrapper {
    padding: 30px 0 44px;
}

.text-inside-image-large-size {
    transform: translate(-84px, -9px);
}

.text-inside-image {
    transform: translate(-19%, -9px);
}

.vector__left {
    right: unset;
    top: -14px;
    left: -17px;
    transform: rotate(328deg);
}

.hero-wrapper__image .vector__left {
    right: unset;
    top: -18px;
    left: 17px;
    transform: rotate(330deg);
}

.section-title {
    margin-bottom: 48px;
    font: var(--type-semi-bold) normal 3.75rem var(--font-webly-sleek);
}

.portfolio-card__item {
    position: relative;
    height: 340px;
    overflow: hidden;
}

.portfolio-card__item img {
    height: 100%;
    filter: grayscale(100%);
    transition: 500ms;
}

.portfolio-card__item:hover img {
    filter: grayscale(0);
}

.portfolio-card__item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 98px;
    padding: 8px 15px 10px;
    overflow: hidden;
    background-color: var(--main-brand-color08);
    transition: 500ms;
}

.portfolio-card__item:hover .portfolio-card__item-info {
    bottom: -50%;
}

.portfolio-card__title {
    margin-bottom: 4px;
    font: var(--type-semi-bold) normal 1.563rem var(--font-webly-sleek);
}

.portfolio-card__description {
    font: var(--type-light) normal var(--type-smaller) var(--font-webly-sleek);
}

.portfolio-wrapper .owl-carousel.owl-drag .owl-item .item {
    gap: 60px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/* Expertise Wrapper*/
.expertise-wrapper {
    padding-bottom: 22px;
    background-color: var(--clr-ntrl-min);
}

.section-title {
    margin-top: 40px;
}

.web-dev {
    padding-bottom: 40px;
}

.dev-projects {
    margin-left: -47px;
    margin-top: -12px;
}

.web-dev .dev-projects {
    margin-left: 0;
}

.dev-projects__title {
    margin-bottom: 14px;
    font: var(--type-semi-bold) normal 30px var(--font-webly-sleek);
    color: #222020;
}

.dev-projects__info {
    margin-bottom: 60px;
    width: 88%;
    letter-spacing: 0.1px;
    font: var(--type-light) normal var(--type-smaller) var(--font-webly-sleek);
    color: #333;
}

.development-list {
    margin-bottom: 30px;
}

.development-list__item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

.development-list__item p {
    font: var(--type-light) normal var(--type-smaller) var(--font-webly-sleek);
}

.development-list__item:after {
    content: url("../../assets/images/slack.svg");
    position: absolute;
    left: 14px;
    top: 4px;
}

.dev-projects__logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ios_logos, .ios_content {
    display: none;
}

.without-padding {
    padding: 0;
}

.wrapper-with-fixed-height {
    height: 280px;
}

.logo-item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 68px;
    margin: 0 15px;
}

.logo-item:nth-child(2n) {
    align-items: flex-start;
}

.min-width-logo img {
    height: auto;
    width: 84%;
    object-fit: contain;
}

.dev-projects__logo-name {
    margin-top: 13px;
    font: var(--type-semi-bold) normal var(--type-smaller) var(--font-webly-sleek);
    text-align: center;
}

.dev-project-logo__item img {
    width: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 500ms;
    cursor: pointer;
}

.dev-project-logo__item img:hover {
    filter: grayscale(0);
}

/*Web development expertise logos*/
.web-dev__logos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(147px, 1fr));
    grid-row-gap: 40px;
    justify-content: center;
    align-items: self-end;
    width: 100%;
    transform: translate(-51px, 0);
}

.web-dev__logos--ios {
    transform: translate(0);
    grid-row-gap: 74px;
}

.web-dev__logos .logo-item {
    width: 74px;
}

.custom-logo-gap {
    margin: 18px 0 0 0;
    width: 100%;
}

.custom-logo-gap img {
    height: auto;
    width: 82%;
    margin-right: auto;
}

.web-dev__logos .logo-item.last-logo-item {
    width: 80%;
    margin-top: 20px;
}

.margin-left {
    margin-left: 33px;
}

.margin-auto {
    margin: 0 auto;
}

.margin-right {
    margin-left: auto;
    margin-right: 32px;
}

.without-margin {
    margin: 0;
}

/*Blockchain logos*/
.blockchain__logos .logo-item {
    width: 90px;
}

.blockchain__logos .dev-projects__logo-name {
    text-align: center;
}

.blockchain__logos .margin-right {
    margin-right: 12px;
}

/*Business Logos*/

.business__logos {
    transform: translate(50px, 90px);
    grid-row-gap: 60px;
}

.min-size-logo img {
    width: 82%;
}

/* Web App Wrapper */
.web-app-wrapper {
    padding: 0 0 22px;
}

.feature-container {
    margin: 0;
    padding: 0;
}

.feature {
    margin-bottom: 63px;
}

.feature-card__title {
    font: var(--type-semi-bold) normal 30px var(--font-webly-sleek);
    margin-left: 20px;
    line-height: inherit;
}

.feature-card__description {
    width: 90%;
    margin-top: 14px;
    font: var(--type-light) normal var(--type-smaller) var(--font-webly-sleek);
    color: #bababa;
}

/* Contact Wrapper */
.contact-wrapper {
    padding-bottom: 40px;
    border-bottom: 1px solid var(--main-brand-color);
}

.section-sub-title {
    margin-bottom: 75px;
    font: var(--type-semi-bold) normal 30px var(--font-webly-sleek);
    line-height: 1px;
}

.feature-icon img {
    width: 43px;
    height: auto;
    object-fit: contain;
}

.feature-container-icons-wrapper {
    height: 50px;
}

.feature-container-icons-wrapper-60 {
    height: 60px;
}

.feature-icon--small img {
    width: 40px;
}

.feature-icon--extra-small img {
    width: 38px;
}
