@media screen and (max-width: 500px) {
    .partner-list {
        gap: 43px 65px;
        grid-auto-rows: 88px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .service-section-title {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .partner-hero-wrapper {
        padding-bottom: 30px;
    }
}

@media screen  and (max-width: 688px) {
    .specific-padding-r,
    .specific-padding-l,
    .hero-wrapper__image,
    .hero-info-container {
        padding: 0 15px;
    }

    .hero-info-container {
        justify-content: center !important;
    }

    .portfolio-wrapper .owl-carousel.owl-drag .owl-item .item {
        grid-template-columns: repeat(1, 1fr);
    }

    .expertise-wrapper .dev-projects__logos {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        margin: 0 0 50px;
    }

    .sub-info__description {
        line-height: 30px;
    }

    .sub-info img {
        object-fit: contain;
    }

    .tags-content {
        width: 100%;
    }

    .web-dev__logos {
        grid-gap: 0;
    }

    .hero-wrapper {
        min-height: 250px;
        align-items: center !important;
    }

    .hero-wrapper__text {
        font-size: 40px;
        z-index: 9999;
    }

    .hero-wrapper__image {
        padding: 0;
        margin: 0 -50%;
    }

    .hero-wrapper__image .vector {
        right: 0;
        display: flex;
        justify-content: flex-end;
    }

    .dev-hero .hero-wrapper__image .vector img {
        width: 100%;
        height: auto;
        right: 0;
    }

    .hero-info {
        margin-top: 0;
    }

    .hero-container figure {
        flex-wrap: wrap;
    }

    .dev-hero .hero-wrapper__image .vector {
        right: 83%;
        display: flex;
        justify-content: flex-end;
        left: 0;
    }

    .section-title {
        font-size: 30px;
        line-height: inherit;
    }

    .section-sub-title {
        font-size: 20px;
    }

    .dev-projects {
        margin: 20px 0 30px;
    }

    /*Home Page*/
    .hero-container {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .hero__image {
        width: auto;
        height: auto;
    }

    .hero__image img {
        width: 100%;
        height: 100%;
    }

    .hero-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px 0 0;
    }

    .hero-wrapper__image-for-logo {
        transform: unset;
        width: 80%;
    }

    .hero-wrapper__subtitle {
        margin: 25px 0 0;
    }

    .hero-wrapper__subtitle-item {
        font-size: 30px;
    }

    .case-studio {
        margin-bottom: 0;
    }

    .about-us {
        padding: 0 10px;
    }

    .services {
        padding: 0 10px;
    }

    .about-us .home-sections__title {
        margin-bottom: 10px;
    }

    .about-us__title, .case-studio .section-title {
        font-size: 50px;
        padding-left: 0;
    }

    .card-info {
        padding: 10px;
    }

    .home-sections__title {
        font-size: 4rem;
    }

    .about-us-card__info {
        width: 100%;
        margin-bottom: 40px;
    }

    .service-section-subtitle {
        width: auto;
    }

    /*Footer*/
    .footer-wrapper {
        height: 250px;
    }

    .footer-list {
        grid-gap: 25px;
        margin-bottom: 15px;
        margin-top: -16px;
    }

    .footer-list img {
        width: 70%;
        height: 50%;
    }

    .single-page-wrapper .vector {
        display: none;
    }

    .single-page-banner-wrapper .blog-title {
        font-size: 25px;
    }

    .single-page-banner-wrapper .vector {
        position: absolute;
        left: -36px;
        right: unset;
        top: -71px;
        transform: rotate(-38deg);
        z-index: 1;
    }

    .single-page-banner-wrapper .vector img {
        width: 100%;
    }

    .single-page-info-wrapper img {
        object-fit: contain;
    }

    .sub-info__title--large-size {
        font-size: 20px;
    }

    .sub-info__description {
        font-size: 16px;
    }

    .single-page-info-wrapper {
        margin-bottom: 30px;
    }

    .case-studio-card .card-image {
        height: 200px;
    }

    .case-studio-card {
        margin-bottom: 40px;
    }

    .partners {
        margin-bottom: 80px;
    }

    .partner-list {
        padding: 0 10px;
        grid-gap: 35px 65px;
    }

    .partner-hero-wrapper {
        flex-wrap: wrap;
    }

    .partner-hero-wrapper .home-sections__title {
        text-align: left;
        margin-top: 10px;
        margin-left: 10px;
        width: 100%;
    }
}

@media screen  and (max-width: 900px) {
    .hero-wrapper__text {
        font-size: var(--type-largest);
    }

    .hero-wrapper__image {
        margin: 0;
    }

    .section-title {
        font-size: 45px;
        margin-bottom: 30px;
    }

    .section-sub-title {
        line-height: normal;
        margin-bottom: 40px;
    }

    /*Home page*/
    .card-info {
        margin-top: 30px;
    }

    .about-us-card-list {
        flex-wrap: wrap;
        grid-gap: 50px;
    }

    .map {
        position: relative;
    }

    .partner-hero-wrapper .home-sections__title {
        letter-spacing: normal;
        margin: 10px 0 0 10px;
        font-size: 60px;
    }

    .partner-hero-wrapper .hero__image {
        width: auto;
        height: auto;
    }

    .partner-hero-wrapper .hero__image img {
        height: 100%;
    }

    .partner-list {
        padding: 0 10px;
    }
}

@media screen and (max-width: 990px) {
    .min-width-container {
        width: 90%;
    }

    .single-page-wrapper .vector {
        left: 20px;
        top: -16px
    }

    .blog-title {
        font-size: var(--type-larger);
    }

    .sub-info__description {
        font-size: var(--type-base);
    }

    .single-page-wrapper .vector img {
        width: 61%;
        height: 67%;
    }

    .hero-wrapper__image {
        padding: 0;
    }

    .collapse:not(.show) {
        background: black;
        z-index: 999999;
        padding: 20px 40px;
    }

    .navbar-toggler {
        background-color: unset;
        border: 0;
    }

    .navbar-toggler:focus {
        box-shadow: unset;
    }

    .dev-projects__logos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        margin: 50px 0;
    }

    .logo-item, .logo-item:nth-child(2n) {
        align-items: center;
    }

    .wrapper-with-fixed-height {
        height: auto;
    }

    .web-dev__logos {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        transform: translate(0);
    }
}

@media screen  and (max-width: 1200px) {
    .dev-projects {
        margin-left: 0;
    }

    .logo-item {
        width: 130px;
        margin: 22px 15px;
    }

    .contact-form-info {
        padding-left: 30px;
    }

    .contact-form-wrapper {
        margin-left: 0;
    }
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1160px;
    }

    .large-container-for-hero .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 75%;
    }

    .large-container .hero-wrapper__image {
        display: flex;
    }

    .large-container-for-hero .text-inside-image-large-size, .text-inside-image {
        padding: 0;
    }

    .portfolio-wrapper .container,
    .portfolio-wrapper .container-lg,
    .portfolio-wrapper .container-md,
    .portfolio-wrapper .container-sm,
    .portfolio-wrapper .container-xl,
    .portfolio-wrapper .container-xxl, .large-container {
        max-width: 1250px;
    }
}

@media screen and (max-width: 769px) {
    .hero-column-wrapper {
        flex-direction: column-reverse;
    }

    .dev-hero .hero-wrapper__image .vector {
        right: unset;
        display: flex;
        justify-content: flex-end;
        left: -40px;
        top: -60px;
    }

    .text-inside-image-large-size, .text-inside-image {
        transform: translate(40px, 22px);
    }

    .page-wrapper section, .single-page-container {
        padding: 0 10px;
    }

    .page-wrapper .portfolio-wrapper {
        padding: 30px 10px 44px;
    }

    .trapezoid {
        display: none;
    }

    .column-reverse {
        flex-direction: column;
    }

    .hero-wrapper__image .vector {
        right: -43px;
        display: flex;
        justify-content: flex-end;
        top: -88px;
    }
}
